In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

 **PCA**

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Embedding.csv")

In [ ]:
df.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,502,503,504,505,506,507,508,509,510,511
0,0,0.081266,0.090006,-0.065058,0.049948,0.032879,0.046094,-0.003582,-0.023268,-0.031716,...,-0.033250,0.018768,0.004863,0.049900,-0.087597,-0.021242,0.025234,0.087739,-0.004775,-0.077533
1,1,0.028080,0.005734,0.040041,0.061236,0.040875,-0.069955,0.027157,-0.053403,-0.028932,...,-0.009834,-0.019325,0.061679,0.020484,-0.084798,0.033753,-0.014862,-0.009352,-0.026338,-0.064855
2,2,0.061000,0.078233,-0.078150,0.048443,0.050105,-0.002728,0.008016,-0.045823,-0.018960,...,0.007463,-0.002182,0.038589,0.040435,-0.064727,-0.000700,0.016859,0.091302,0.021227,-0.079665
3,3,0.047871,0.011711,0.035404,-0.022226,-0.064163,0.034550,0.071754,-0.036553,-0.003387,...,0.054381,-0.014081,0.063638,0.001286,-0.082296,-0.005946,-0.021445,0.068677,0.038214,0.029727
4,4,-0.037904,-0.059407,-0.027755,0.007813,0.062542,-0.002690,0.028363,-0.000866,0.007131,...,-0.079811,-0.113180,0.041112,0.021667,0.022140,-0.021311,-0.033553,0.007020,-0.000512,-0.092202

In [ ]:
df = df.drop("Unnamed: 0",axis=1)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_X = scaler.fit_transform(df)
scaled_X

array([[ 1.26981178,  0.9460606 , -0.79357337, ...,  0.9331623 ,
        -0.95113784, -1.07388936],
       [-0.02017781, -1.14965364,  2.26361282, ..., -1.74676915,
        -1.84889254, -0.63651938],
       [ 0.77826033,  0.6532973 , -1.17437899, ...,  1.03151736,
         0.13148302, -1.14744836],
       ...,
       [ 0.46380284,  0.73434691, -0.59753071, ..., -0.23293483,
        -0.57333094,  0.27397387],
       [ 0.71028226,  0.57608839, -0.44195639, ...,  0.82978668,
         0.96531164, -0.82550546],
       [-1.17534554, -1.73106622, -0.15412701, ..., -0.08768839,
         0.81042798, -1.0173088 ]])

In [ ]:
from sklearn.decomposition import PCA

In [ ]:
pca = PCA(n_components=2)

In [ ]:
pca.fit(scaled_X)

PCA(n_components=2)

In [ ]:
principal_components = pca.fit_transform(scaled_X)

In [ ]:
np.sum(pca.explained_variance_ratio_)

0.29837735876073884

In [ ]:
pca_45 = PCA(n_components=45)

In [ ]:
pca_45.fit(scaled_X)

PCA(n_components=45)

In [ ]:
np.sum(pca_45.explained_variance_ratio_)

0.9604302077468349

In [ ]:
X = pca_45.transform(scaled_X)

In [ ]:
X.shape

(845086, 45)

In [ ]:
pca_output = pd.DataFrame(X)

In [ ]:
pca_output.to_csv("/content/drive/MyDrive/PCA_output_22july.csv")