In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/22 aug/Copy of input.csv_structured.csv")

In [ ]:
df.head()

,LineId,Pid,Time,Content,EventId,EventTemplate,ParameterList
0,1,NaN,epoch_time,content,9a0364b9,content,[]
1,2,0.0,2022-07-22 08:26:11.900364000,megaraid_sas ::.: mr_dcmd_pd_list_query failed...,b7a7b897,megaraid_sas . mr_dcmd_pd_list_query failed/no...,[]
2,3,1.0,2022-07-22 08:26:11.924418000,megaraid_sas ::.: mr_dcmd_pd_list_query failed...,b7a7b897,megaraid_sas . mr_dcmd_pd_list_query failed/no...,[]
3,4,2.0,2022-07-22 08:26:11.948384000,megaraid_sas ::.: mr_dcmd_pd_list_query failed...,b7a7b897,megaraid_sas . mr_dcmd_pd_list_query failed/no...,[]
4,5,3.0,2022-07-22 08:26:11.969058000,megaraid_sas ::.: mr_dcmd_pd_list_query failed...,b7a7b897,megaraid_sas . mr_dcmd_pd_list_query failed/no...,[]

In [ ]:
df = df.drop(0)

In [ ]:
df.head()

,LineId,Pid,Time,Content,EventId,EventTemplate,ParameterList
1,2,0.0,2022-07-22 08:26:11.900364000,megaraid_sas ::.: mr_dcmd_pd_list_query failed...,b7a7b897,megaraid_sas . mr_dcmd_pd_list_query failed/no...,[]
2,3,1.0,2022-07-22 08:26:11.924418000,megaraid_sas ::.: mr_dcmd_pd_list_query failed...,b7a7b897,megaraid_sas . mr_dcmd_pd_list_query failed/no...,[]
3,4,2.0,2022-07-22 08:26:11.948384000,megaraid_sas ::.: mr_dcmd_pd_list_query failed...,b7a7b897,megaraid_sas . mr_dcmd_pd_list_query failed/no...,[]
4,5,3.0,2022-07-22 08:26:11.969058000,megaraid_sas ::.: mr_dcmd_pd_list_query failed...,b7a7b897,megaraid_sas . mr_dcmd_pd_list_query failed/no...,[]
5,6,4.0,2022-07-22 08:26:11.996414000,megaraid_sas ::.: mr_dcmd_pd_list_query failed...,b7a7b897,megaraid_sas . mr_dcmd_pd_list_query failed/no...,[]

In [ ]:
(df["EventId"].nunique())

611

In [ ]:
df["EventId"] = df["EventId"].astype('category')
df.dtypes

LineId              int64
Pid               float64
Time               object
Content            object
EventId          category
EventTemplate      object
ParameterList      object
dtype: object

In [ ]:
df["temp"] = df["EventId"].cat.codes
print(len(df))
(df.head())

755806

,LineId,Pid,Time,Content,EventId,EventTemplate,ParameterList,temp
1,2,0.0,2022-07-22 08:26:11.900364000,megaraid_sas ::.: mr_dcmd_pd_list_query failed...,b7a7b897,megaraid_sas . mr_dcmd_pd_list_query failed/no...,[],430
2,3,1.0,2022-07-22 08:26:11.924418000,megaraid_sas ::.: mr_dcmd_pd_list_query failed...,b7a7b897,megaraid_sas . mr_dcmd_pd_list_query failed/no...,[],430
3,4,2.0,2022-07-22 08:26:11.948384000,megaraid_sas ::.: mr_dcmd_pd_list_query failed...,b7a7b897,megaraid_sas . mr_dcmd_pd_list_query failed/no...,[],430
4,5,3.0,2022-07-22 08:26:11.969058000,megaraid_sas ::.: mr_dcmd_pd_list_query failed...,b7a7b897,megaraid_sas . mr_dcmd_pd_list_query failed/no...,[],430
5,6,4.0,2022-07-22 08:26:11.996414000,megaraid_sas ::.: mr_dcmd_pd_list_query failed...,b7a7b897,megaraid_sas . mr_dcmd_pd_list_query failed/no...,[],430

In [ ]:
df["temp"].nunique()

611

In [ ]:
df.to_csv("/content/drive/MyDrive/22 aug/encoded_temp_1.csv")

In [ ]:
df["time_stamp"] = pd.to_datetime(df["Time"])

In [ ]:
df["time_stamp"]

1        2022-07-22 08:26:11.900364
2        2022-07-22 08:26:11.924418
3        2022-07-22 08:26:11.948384
4        2022-07-22 08:26:11.969058
5        2022-07-22 08:26:11.996414
                    ...
755802   2022-07-22 08:41:20.704867
755803   2022-07-22 08:41:20.728855
755804   2022-07-22 08:41:20.752746
755805   2022-07-22 08:41:20.780820
755806   2022-07-22 08:41:20.808793
Name: time_stamp, Length: 755806, dtype: datetime64[ns]

In [ ]:
df=df.sort_values(by='time_stamp',ascending=True)

In [ ]:
df["time_stamp"]

466023   2022-07-22 04:45:01.769596000
466024   2022-07-22 04:45:01.770222000
466025   2022-07-22 04:45:01.772676000
466026   2022-07-22 04:55:01.778555000
466027   2022-07-22 04:55:01.779265000
                      ...
755540   2022-07-22 09:04:29.760207794
755619   2022-07-22 09:04:30.000000000
755620   2022-07-22 09:04:31.000000000
558150   2022-07-22 09:04:53.000000000
541987   2022-07-22 09:05:01.000000000
Name: time_stamp, Length: 755806, dtype: datetime64[ns]

In [ ]:
df.head()

,LineId,Pid,Time,Content,EventId,EventTemplate,ParameterList,temp,time_stamp
466023,466024,466022.0,2022-07-22 04:45:01.769596000,pam_unix(cron:session): session opened for use...,d84cf1f4,<*> session) session <*> for user root <*>,"['pam_unix(cron', 'opened', 'by (uid']",516,2022-07-22 04:45:01.769596
466024,466025,466023.0,2022-07-22 04:45:01.770222000,(root) cmd (command -v debian-sa > /dev/null &...,aff925bd,(root) cmd (command -v debian-sa > /dev/null &...,[],415,2022-07-22 04:45:01.770222
466025,466026,466024.0,2022-07-22 04:45:01.772676000,pam_unix(cron:session): session closed for use...,d84cf1f4,<*> session) session <*> for user root <*>,[],516,2022-07-22 04:45:01.772676
466026,466027,466025.0,2022-07-22 04:55:01.778555000,pam_unix(cron:session): session opened for use...,d84cf1f4,<*> session) session <*> for user root <*>,"['pam_unix(cron', 'opened', 'by (uid']",516,2022-07-22 04:55:01.778555
466027,466028,466026.0,2022-07-22 04:55:01.779265000,(root) cmd (command -v debian-sa > /dev/null &...,aff925bd,(root) cmd (command -v debian-sa > /dev/null &...,[],415,2022-07-22 04:55:01.779265

In [ ]:
df.iloc[0]

LineId                                                      466024
Pid                                                       466022.0
Time                                 2022-07-22 04:45:01.769596000
Content          pam_unix(cron:session): session opened for use...
EventId                                                   d84cf1f4
EventTemplate           <*> session) session <*> for user root <*>
ParameterList               ['pam_unix(cron', 'opened', 'by (uid']
temp                                                           516
time_stamp                              2022-07-22 04:45:01.769596
Name: 466023, dtype: object

In [ ]:
len(df[(df["time_stamp"].diff()).dt.seconds > 0.5])

245

In [ ]:
df1_halfsec=df[(df["time_stamp"].diff()).dt.seconds > 0.5]

In [ ]:
df[(df["time_stamp"].diff()).dt.seconds > 0.5].head(10)

,LineId,Pid,Time,Content,EventId,EventTemplate,ParameterList,temp,time_stamp
466026,466027,466025.0,2022-07-22 04:55:01.778555000,pam_unix(cron:session): session opened for use...,d84cf1f4,<*> session) session <*> for user root <*>,"['pam_unix(cron', 'opened', 'by (uid']",516,2022-07-22 04:55:01.778555
466029,466030,466028.0,2022-07-22 05:05:01.786973000,pam_unix(cron:session): session opened for use...,d84cf1f4,<*> session) session <*> for user root <*>,"['pam_unix(cron', 'opened', 'by (uid']",516,2022-07-22 05:05:01.786973
466032,466033,466031.0,2022-07-22 05:15:01.795019000,pam_unix(cron:session): session opened for use...,d84cf1f4,<*> session) session <*> for user root <*>,"['pam_unix(cron', 'opened', 'by (uid']",516,2022-07-22 05:15:01.795019
350817,350818,350816.0,2022-07-22 05:17:01.381031000,pam_unix(cron:session): session closed for use...,d84cf1f4,<*> session) session <*> for user root <*>,[],516,2022-07-22 05:17:01.381031
466038,466039,466037.0,2022-07-22 05:25:01.839806000,pam_unix(cron:session): session opened for use...,d84cf1f4,<*> session) session <*> for user root <*>,"['pam_unix(cron', 'opened', 'by (uid']",516,2022-07-22 05:25:01.839806
466041,466042,466040.0,2022-07-22 05:35:01.847989000,pam_unix(cron:session): session opened for use...,d84cf1f4,<*> session) session <*> for user root <*>,"['pam_unix(cron', 'opened', 'by (uid']",516,2022-07-22 05:35:01.847989
466044,466045,466043.0,2022-07-22 05:45:01.856147000,pam_unix(cron:session): session opened for use...,d84cf1f4,<*> session) session <*> for user root <*>,"['pam_unix(cron', 'opened', 'by (uid']",516,2022-07-22 05:45:01.856147
466047,466048,466046.0,2022-07-22 05:55:01.864519000,pam_unix(cron:session): session opened for use...,d84cf1f4,<*> session) session <*> for user root <*>,"['pam_unix(cron', 'opened', 'by (uid']",516,2022-07-22 05:55:01.864519
466050,466051,466049.0,2022-07-22 06:04:56.037140000,starting daily apt upgrade and clean activitie...,a695791c,<*> daily apt upgrade and clean <*>,"['starting', 'activities']",390,2022-07-22 06:04:56.037140
466052,466053,466051.0,2022-07-22 06:05:01.872886000,pam_unix(cron:session): session opened for use...,d84cf1f4,<*> session) session <*> for user root <*>,"['pam_unix(cron', 'opened', 'by (uid']",516,2022-07-22 06:05:01.872886

In [ ]:
df1_halfsec

,LineId,Pid,Time,Content,EventId,EventTemplate,ParameterList,temp,time_stamp
466026,466027,466025.0,2022-07-22 04:55:01.778555000,pam_unix(cron:session): session opened for use...,d84cf1f4,<*> session) session <*> for user root <*>,"['pam_unix(cron', 'opened', 'by (uid']",516,2022-07-22 04:55:01.778555
466029,466030,466028.0,2022-07-22 05:05:01.786973000,pam_unix(cron:session): session opened for use...,d84cf1f4,<*> session) session <*> for user root <*>,"['pam_unix(cron', 'opened', 'by (uid']",516,2022-07-22 05:05:01.786973
466032,466033,466031.0,2022-07-22 05:15:01.795019000,pam_unix(cron:session): session opened for use...,d84cf1f4,<*> session) session <*> for user root <*>,"['pam_unix(cron', 'opened', 'by (uid']",516,2022-07-22 05:15:01.795019
350817,350818,350816.0,2022-07-22 05:17:01.381031000,pam_unix(cron:session): session closed for use...,d84cf1f4,<*> session) session <*> for user root <*>,[],516,2022-07-22 05:17:01.381031
466038,466039,466037.0,2022-07-22 05:25:01.839806000,pam_unix(cron:session): session opened for use...,d84cf1f4,<*> session) session <*> for user root <*>,"['pam_unix(cron', 'opened', 'by (uid']",516,2022-07-22 05:25:01.839806
...,...,...,...,...,...,...,...,...,...
18265,18266,18264.0,2022-07-22 08:44:06.923000000,""": .: total time for which application threads...",5da13645,""" . total time for which application threads w...",['seconds'],221,2022-07-22 08:44:06.923000
1103,1104,1102.0,2022-07-22 08:44:10.000000000,outboundtcpconnection.java: - unable to connec...,4d5d2eec,outboundtcpconnection.java - <*> to connect to...,"['unable', 'java.net.noroutetohostexception: n...",184,2022-07-22 08:44:10.000000
755620,755621,755619.0,2022-07-22 09:04:31.000000000,megaraid_sas ::.: mr_dcmd_pd_list_query failed...,b7a7b897,megaraid_sas . mr_dcmd_pd_list_query failed/no...,[],430,2022-07-22 09:04:31.000000
558150,558151,558149.0,2022-07-22 09:04:53.000000000,message repeated times: [ error on subcontain...,bc3a0ca2,error on subcontainer 'ia_addr' insert <*>,[],445,2022-07-22 09:04:53.000000
541987,541988,541986.0,2022-07-22 09:05:01.000000000,(root) cmd (command -v debian-sa > /dev/null &...,aff925bd,(root) cmd (command -v debian-sa > /dev/null &...,[],415,2022-07-22 09:05:01.000000

In [ ]:
df1_halfsec.index

Int64Index([466026, 466029, 466032, 350817, 466038, 466041, 466044, 466047,
            466050, 466052,
            ...
             26334, 145368, 121370,   2522,   3880,  18265,   1103, 755620,
            558150, 541987],
           dtype='int64', length=245)

In [ ]:
half_index_list =list(np.array(df1_halfsec.index))

In [ ]:
half_index_list.append(len(df))

In [ ]:
half_index_list.insert(0,0)

In [ ]:
len(half_index_list)

247

In [ ]:
df_split_list = []
for i in range(len(half_index_list)-1):
  df_split_list.append(df[half_index_list[i]:half_index_list[i+1]])

In [ ]:
df_split_list[245]

,LineId,Pid,Time,Content,EventId,EventTemplate,ParameterList,temp,time_stamp
728598,728599,728597.0,2022-07-22 08:40:55.952692000,removed session .,540853eb,removed <*>,['session'],195,2022-07-22 08:40:55.952692000
736029,736030,736028.0,2022-07-22 08:40:56.000000000,"""* this server is a property of opsramp, inc. *""",315feee5,"""* this server is a property of opsramp inc. *""",[],112,2022-07-22 08:40:56.000000000
736030,736031,736029.0,2022-07-22 08:40:56.000000000,* all connections are monitored and recorded. *,5449c539,* all connections are monitored and recorded. *,[],196,2022-07-22 08:40:56.000000000
736031,736032,736030.0,2022-07-22 08:40:56.000000000,* disconnect immediately if you are not an aut...,01b63886,* disconnect immediately if you are not an aut...,[],4,2022-07-22 08:40:56.000000000
736028,736029,736027.0,2022-07-22 08:40:56.000000000,**********************************************...,ae665cfd,**********************************************...,[],410,2022-07-22 08:40:56.000000000
...,...,...,...,...,...,...,...,...,...
755540,755541,755539.0,2022-07-22 09:04:29.760207794,"""com.vistara.cs.mq.notifier.alertbasedavailabi...",08897e6d,<*> - <*> <*> no associated service groups fou...,['com.vistara.cs.mq.notifier.alertbasedavailab...,19,2022-07-22 09:04:29.760207794
755619,755620,755618.0,2022-07-22 09:04:30.000000000,megaraid_sas ::.: mr_dcmd_pd_list_query failed...,b7a7b897,megaraid_sas . mr_dcmd_pd_list_query failed/no...,[],430,2022-07-22 09:04:30.000000000
755620,755621,755619.0,2022-07-22 09:04:31.000000000,megaraid_sas ::.: mr_dcmd_pd_list_query failed...,b7a7b897,megaraid_sas . mr_dcmd_pd_list_query failed/no...,[],430,2022-07-22 09:04:31.000000000
558150,558151,558149.0,2022-07-22 09:04:53.000000000,message repeated times: [ error on subcontain...,bc3a0ca2,error on subcontainer 'ia_addr' insert <*>,[],445,2022-07-22 09:04:53.000000000
541987,541988,541986.0,2022-07-22 09:05:01.000000000,(root) cmd (command -v debian-sa > /dev/null &...,aff925bd,(root) cmd (command -v debian-sa > /dev/null &...,[],415,2022-07-22 09:05:01.000000000

In [ ]:
df["temp"].value_counts()

430    193415
295    175884
96     136426
135     19611
516     19437
        ...
240         1
508         1
134         1
76          1
359         1
Name: temp, Length: 611, dtype: int64

In [ ]:
def storedata(int: i):
   with open(r"/content/drive/MyDrive/22 aug/train_22aug1.txt", 'a') as fp:
    for item in list(df_split_list[i].temp):
        # write each item on a new line
        fp.write("%d " % item)
    fp.write("\n")
   return 0

In [ ]:
for i in range(0,246):
  storedata(i)

In [ ]:
df_copy = df.copy()

In [ ]:
df_copy_split_list = []
for i in range(len(half_index_list)-1):
  df_copy_split_list.append(df_copy[half_index_list[i]:half_index_list[i+1]])

In [ ]:
df_copy_split_list[245]

,LineId,Pid,Time,Content,EventId,EventTemplate,ParameterList,temp,time_stamp
728598,728599,728597.0,2022-07-22 08:40:55.952692000,removed session .,540853eb,removed <*>,['session'],195,2022-07-22 08:40:55.952692000
736029,736030,736028.0,2022-07-22 08:40:56.000000000,"""* this server is a property of opsramp, inc. *""",315feee5,"""* this server is a property of opsramp inc. *""",[],112,2022-07-22 08:40:56.000000000
736030,736031,736029.0,2022-07-22 08:40:56.000000000,* all connections are monitored and recorded. *,5449c539,* all connections are monitored and recorded. *,[],196,2022-07-22 08:40:56.000000000
736031,736032,736030.0,2022-07-22 08:40:56.000000000,* disconnect immediately if you are not an aut...,01b63886,* disconnect immediately if you are not an aut...,[],4,2022-07-22 08:40:56.000000000
736028,736029,736027.0,2022-07-22 08:40:56.000000000,**********************************************...,ae665cfd,**********************************************...,[],410,2022-07-22 08:40:56.000000000
...,...,...,...,...,...,...,...,...,...
755540,755541,755539.0,2022-07-22 09:04:29.760207794,"""com.vistara.cs.mq.notifier.alertbasedavailabi...",08897e6d,<*> - <*> <*> no associated service groups fou...,['com.vistara.cs.mq.notifier.alertbasedavailab...,19,2022-07-22 09:04:29.760207794
755619,755620,755618.0,2022-07-22 09:04:30.000000000,megaraid_sas ::.: mr_dcmd_pd_list_query failed...,b7a7b897,megaraid_sas . mr_dcmd_pd_list_query failed/no...,[],430,2022-07-22 09:04:30.000000000
755620,755621,755619.0,2022-07-22 09:04:31.000000000,megaraid_sas ::.: mr_dcmd_pd_list_query failed...,b7a7b897,megaraid_sas . mr_dcmd_pd_list_query failed/no...,[],430,2022-07-22 09:04:31.000000000
558150,558151,558149.0,2022-07-22 09:04:53.000000000,message repeated times: [ error on subcontain...,bc3a0ca2,error on subcontainer 'ia_addr' insert <*>,[],445,2022-07-22 09:04:53.000000000
541987,541988,541986.0,2022-07-22 09:05:01.000000000,(root) cmd (command -v debian-sa > /dev/null &...,aff925bd,(root) cmd (command -v debian-sa > /dev/null &...,[],415,2022-07-22 09:05:01.000000000

In [ ]:
test_data=df_copy_split_list[245].iloc[1000:3000]

In [ ]:
test_data.tail(20)

,LineId,Pid,Time,Content,EventId,EventTemplate,ParameterList,temp,time_stamp
736121,736122,736120.0,2022-07-22 08:41:04.976859000,megaraid_sas ::.: mr_dcmd_pd_list_query failed...,b7a7b897,megaraid_sas . mr_dcmd_pd_list_query failed/no...,[],430,2022-07-22 08:41:04.976859
743119,743120,743118.0,2022-07-22 08:41:04.978454000,megaraid_sas ::.: mr_dcmd_pd_list_query failed...,b7a7b897,megaraid_sas . mr_dcmd_pd_list_query failed/no...,[],430,2022-07-22 08:41:04.978454
730984,730985,730983.0,2022-07-22 08:41:04.979000000,org.apache.hadoop.hdfs.server.datanode.checker...,4705d003,<*> <*> a <*>,"['', 'org.apache.hadoop.hdfs.server.datanode.c...",166,2022-07-22 08:41:04.979000
725689,725690,725688.0,2022-07-22 08:41:04.979180000,removed session .,540853eb,removed <*>,['session'],195,2022-07-22 08:41:04.979180
725773,725774,725772.0,2022-07-22 08:41:04.980344000,removed session .,540853eb,removed <*>,['session'],195,2022-07-22 08:41:04.980344
725690,725691,725689.0,2022-07-22 08:41:04.980557000,stopping user manager for uid ...,8a9e9a80,<*> user manager for uid <*>,"['stopping', '']",330,2022-07-22 08:41:04.980557
719773,719774,719772.0,2022-07-22 08:41:04.981500000,megaraid_sas ::.: mr_dcmd_pd_list_query failed...,b7a7b897,megaraid_sas . mr_dcmd_pd_list_query failed/no...,[],430,2022-07-22 08:41:04.981500
725691,725692,725690.0,2022-07-22 08:41:04.982046000,stopped target default.,02c279bd,stopped target <*>,['default'],6,2022-07-22 08:41:04.982046
725692,725693,725691.0,2022-07-22 08:41:04.982065000,stopped target basic system.,02c279bd,stopped target <*>,['basic system'],6,2022-07-22 08:41:04.982065
725693,725694,725692.0,2022-07-22 08:41:04.982080000,stopped target paths.,02c279bd,stopped target <*>,['paths'],6,2022-07-22 08:41:04.982080
725694,725695,725693.0,2022-07-22 08:41:04.982092000,stopped target timers.,02c279bd,stopped target <*>,['timers'],6,2022-07-22 08:41:04.982092
725695,725696,725694.0,2022-07-22 08:41:04.982147000,stopped target sockets.,02c279bd,stopped target <*>,['sockets'],6,2022-07-22 08:41:04.982147
725696,725697,725695.0,2022-07-22 08:41:04.982548000,closed gnupg cryptographic agent and passphras...,bd5df8e0,<*> <*> gnupg cryptographic agent and passphra...,"['', 'closed', 'cache (restricted']",448,2022-07-22 08:41:04.982548
725697,725698,725696.0,2022-07-22 08:41:04.983020000,closed rest api socket for snapd user session ...,f3aa3e9f,<*> <*> rest api socket for snapd user session...,"['', 'closed']",581,2022-07-22 08:41:04.983020
725698,725699,725697.0,2022-07-22 08:41:04.983297000,closed gnupg cryptographic agent and passphras...,bd5df8e0,<*> <*> gnupg cryptographic agent and passphra...,"['', 'closed', 'cache (access for web browsers']",448,2022-07-22 08:41:04.983297
725699,725700,725698.0,2022-07-22 08:41:04.983411000,closed gnupg network certificate management da...,3480572f,<*> <*> gnupg network certificate management d...,"['', 'closed']",119,2022-07-22 08:41:04.983411
725700,725701,725699.0,2022-07-22 08:41:04.984036000,closed d-bus user message bus socket.,8b9067cf,<*> d-bus user message bus socket.,['closed'],334,2022-07-22 08:41:04.984036
725701,725702,725700.0,2022-07-22 08:41:04.984222000,closed gnupg cryptographic agent and passphras...,bd5df8e0,<*> <*> gnupg cryptographic agent and passphra...,"['', 'closed', 'cache']",448,2022-07-22 08:41:04.984222
725702,725703,725701.0,2022-07-22 08:41:04.984418000,closed gnupg cryptographic agent (ssh-agent em...,71f5cbed,<*> <*> gnupg cryptographic agent (ssh-agent e...,"['', 'closed']",274,2022-07-22 08:41:04.984418
725703,725704,725702.0,2022-07-22 08:41:04.984467000,reached target shutdown.,6cf62aab,reached target <*>,['shutdown'],259,2022-07-22 08:41:04.984467

In [ ]:
test_data["temp"].unique()

array([ 96, 430, 212, 516, 586, 135, 195, 486, 580, 216, 232, 316, 124,
       556, 221, 405, 467,  56,  15,  52, 589,   4, 112, 410, 387, 196,
       590, 383, 172, 429, 180, 568, 450, 228, 423,  19,  86, 560, 251,
       511, 340, 399, 103, 474, 577, 319, 219, 158, 342, 588, 449, 513,
       480, 419, 125, 257, 330,  75, 150, 422, 567, 388, 119, 259, 184,
       334, 274, 581, 404, 454, 448,   6, 381, 335,  33, 491, 561, 452,
       564,  81, 348, 420, 434, 433,   5, 457,  24,  28, 351, 187, 166],
      dtype=int16)

In [ ]:
df[df["temp"]==962]

Empty DataFrame
Columns: [LineId, Pid, Time, Content, EventId, EventTemplate, ParameterList, temp, time_stamp]
Index: []

In [ ]:
test_index=np.array(test_data.index)

In [ ]:
test_index

array([720009, 720010, 720011, ..., 725701, 725702, 725703])

In [ ]:
l_55 = [ x for x in test_index if x%55 == 0]

In [ ]:
l_55

[720115,
 720170,
 720225,
 720280,
 720335,
 720390,
 720060,
 720500,
 720445,
 729575,
 738485,
 730840,
 714450,
 738210,
 721215,
 715275,
 732435,
 722755,
 722920,
 716870,
 723745,
 716650,
 741675,
 733590,
 724130,
 741730,
 723800,
 735955,
 62040,
 724185,
 723855,
 719730,
 736010,
 748000,
 743105,
 736120]

In [ ]:
len(l_55)

36

In [ ]:
l_400 = [ x for x in test_index if x%400 == 0]

In [ ]:
l_400

[720400, 730800, 721200, 732400, 736000, 748000]

In [ ]:
def intersection(lst1, lst2):
    lst3 = [value for value in lst1 if value in lst2]
    return lst3

In [ ]:
intersection(l_55,l_400)

[748000]

In [ ]:
l_400.remove(748000)

In [ ]:
for i in l_55:
  test_data["temp"][i] = 76

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
test_data.loc[16720]

LineId                                                       16721
Pid                                                        16719.0
Time                                 2022-07-22 08:08:25.306031928
Content          "... - - [/jul/::: +]  ""post /api/prom/push h...
EventId                                                   79a2bde1
EventTemplate    "... - - [/jul/ +] <*> <*> http/."" ""-"" <*> ...
ParameterList    ['""post /api/prom/push', '""java-http-client'...
temp                                                            76
time_stamp                           2022-07-22 08:08:25.306031928
Name: 16720, dtype: object

In [ ]:
for i in l_400:
  test_data["temp"][i] = 800

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
test_data.loc[16830:]

,LineId,Pid,Time,Content,EventId,EventTemplate,ParameterList,temp,time_stamp
16830,16831,16829.0,2022-07-22 08:08:25.691456779,"""... - - [/jul/::: +] """"post /api/prom/push h...",79a2bde1,"""... - - [/jul/ +] <*> <*> http/."""" """"-"""" <*> ...","['""""post /api/prom/push', '""""java-http-client'...",76,2022-07-22 08:08:25.691456779
16831,16832,16830.0,2022-07-22 08:08:25.691475715,"""... - - [/jul/::: +] """"post /api/prom/push h...",79a2bde1,"""... - - [/jul/ +] <*> <*> http/."""" """"-"""" <*> ...","['""""post /api/prom/push', '""""java-http-client'...",295,2022-07-22 08:08:25.691475715
16832,16833,16831.0,2022-07-22 08:08:25.692011025,"""... - - [/jul/::: +] """"post /api/prom/push h...",79a2bde1,"""... - - [/jul/ +] <*> <*> http/."""" """"-"""" <*> ...","['""""post /api/prom/push', '""""java-http-client'...",295,2022-07-22 08:08:25.692011025
16833,16834,16832.0,2022-07-22 08:08:25.692606768,"""... - - [/jul/::: +] """"post /api/prom/push h...",79a2bde1,"""... - - [/jul/ +] <*> <*> http/."""" """"-"""" <*> ...","['""""post /api/prom/push', '""""java-http-client'...",295,2022-07-22 08:08:25.692606768
16834,16835,16833.0,2022-07-22 08:08:25.693669376,"""... - - [/jul/::: +] """"post /api/prom/push h...",79a2bde1,"""... - - [/jul/ +] <*> <*> http/."""" """"-"""" <*> ...","['""""post /api/prom/push', '""""java-http-client'...",295,2022-07-22 08:08:25.693669376
16835,16836,16834.0,2022-07-22 08:08:25.695168271,"""... - - [/jul/::: +] """"post /api/prom/push h...",79a2bde1,"""... - - [/jul/ +] <*> <*> http/."""" """"-"""" <*> ...","['""""post /api/prom/push', '""""java-http-client'...",295,2022-07-22 08:08:25.695168271
16836,16837,16835.0,2022-07-22 08:08:25.700279216,"""... - - [/jul/::: +] """"post /api/prom/push h...",79a2bde1,"""... - - [/jul/ +] <*> <*> http/."""" """"-"""" <*> ...","['""""post /api/prom/push', '""""java-http-client'...",295,2022-07-22 08:08:25.700279216
16837,16838,16836.0,2022-07-22 08:08:25.700686833,"""... - - [/jul/::: +] """"post /api/prom/push h...",79a2bde1,"""... - - [/jul/ +] <*> <*> http/."""" """"-"""" <*> ...","['""""post /api/prom/push', '""""java-http-client'...",295,2022-07-22 08:08:25.700686833
16838,16839,16837.0,2022-07-22 08:08:25.704608229,"""... - - [/jul/::: +] """"post /api/prom/push h...",79a2bde1,"""... - - [/jul/ +] <*> <*> http/."""" """"-"""" <*> ...","['""""post /api/prom/push', '""""java-http-client'...",295,2022-07-22 08:08:25.704608229
16839,16840,16838.0,2022-07-22 08:08:25.716887027,"""... - - [/jul/::: +] """"post /api/prom/push h...",79a2bde1,"""... - - [/jul/ +] <*> <*> http/."""" """"-"""" <*> ...","['""""post /api/prom/push', '""""java-http-client'...",295,2022-07-22 08:08:25.716887027
16840,16841,16839.0,2022-07-22 08:08:25.720770482,"""... - - [/jul/::: +] """"post /api/prom/push h...",79a2bde1,"""... - - [/jul/ +] <*> <*> http/."""" """"-"""" <*> ...","['""""post /api/prom/push', '""""java-http-client'...",295,2022-07-22 08:08:25.720770482
16841,16842,16840.0,2022-07-22 08:08:25.725476232,"""... - - [/jul/::: +] """"post /api/prom/push h...",79a2bde1,"""... - - [/jul/ +] <*> <*> http/."""" """"-"""" <*> ...","['""""post /api/prom/push', '""""java-http-client'...",295,2022-07-22 08:08:25.725476232

In [ ]:
test_data.tail(5)

,LineId,Pid,Time,Content,EventId,EventTemplate,ParameterList,temp,time_stamp
16837,16838,16836.0,2022-07-22 08:08:25.700686833,"""... - - [/jul/::: +] """"post /api/prom/push h...",79a2bde1,"""... - - [/jul/ +] <*> <*> http/."""" """"-"""" <*> ...","['""""post /api/prom/push', '""""java-http-client'...",295,2022-07-22 08:08:25.700686833
16838,16839,16837.0,2022-07-22 08:08:25.704608229,"""... - - [/jul/::: +] """"post /api/prom/push h...",79a2bde1,"""... - - [/jul/ +] <*> <*> http/."""" """"-"""" <*> ...","['""""post /api/prom/push', '""""java-http-client'...",295,2022-07-22 08:08:25.704608229
16839,16840,16838.0,2022-07-22 08:08:25.716887027,"""... - - [/jul/::: +] """"post /api/prom/push h...",79a2bde1,"""... - - [/jul/ +] <*> <*> http/."""" """"-"""" <*> ...","['""""post /api/prom/push', '""""java-http-client'...",295,2022-07-22 08:08:25.716887027
16840,16841,16839.0,2022-07-22 08:08:25.720770482,"""... - - [/jul/::: +] """"post /api/prom/push h...",79a2bde1,"""... - - [/jul/ +] <*> <*> http/."""" """"-"""" <*> ...","['""""post /api/prom/push', '""""java-http-client'...",295,2022-07-22 08:08:25.720770482
16841,16842,16840.0,2022-07-22 08:08:25.725476232,"""... - - [/jul/::: +] """"post /api/prom/push h...",79a2bde1,"""... - - [/jul/ +] <*> <*> http/."""" """"-"""" <*> ...","['""""post /api/prom/push', '""""java-http-client'...",295,2022-07-22 08:08:25.725476232

In [ ]:
test_data["temp"][725701] = 274
test_data["temp"][725702] = 448

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
test_data.to_csv("/content/drive/MyDrive/22 aug/test_22aug_new.csv")